@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,900;1,700&display=swap");

/* Variables */
:root {
  --font-family: "Roboto", sans-serf;
  --normal-font: 400;
  --bold-font: 700;
  --bolder-font: 900;
  --bg-color: #151515;
  --primary-color: #48a4ac;
  --secondary-color: #63e2ed;
  --primary-shadow: #48a4ac;
  --secondary-shadow: #f3ffcf;
  --nav-bg-primary: #353535;
  --bottom-margin: 0.5rem;
  --bottom-margin2: 1rem;
  --line-height: 1.7rem;
}
/* Fin de variables */

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--font-family);
  background-color: var(--bg-color);
  color: var(--primary-color);
}

.page {
  width: 100%;
  max-width: 90rem;
  margin: 0 auto;
}

.main_title {
  display: flex;
  gap: 0.25rem;
}

.main_title > svg {
  height: 2rem;
  transform: translateY(0.25rem);
}

.menu {
  list-style-type: none;
  display: flex;
  gap: 1.9rem;
}

li {
  font-weight: bold;
}

a {
  color: var(--primary-color);
  text-decoration: none;
}

a:hover {
  color: var(--secondary-color);
}

nav {
  position: sticky;
  display: flex;
  width: 100%;
  background-color: var(--nav-bg-primary);
}

p{
  margin: 0px;
  padding-top: 0.6rem;
}

.about{
  display:flex;
  width: 800px;
  max-width: 100%;
  margin: 1rem auto;
  height: fit-content;
  text-align: justify;
  justify-content: center;
  
}

.playlists {
  display: flex;
  flex-direction: column;
  background-color: var(--nav-bg-primary);
  margin-bottom: 0.5rem;
}

.playdiv{
  margin: 1rem;
  flex-direction: column;
  width: fit-content;
  padding: 1rem;
}

.playdiv h2{
  margin-top: 0px;
}

.playlists h1{
  margin-left: 2rem;
  margin-bottom: 0px;
}

.proyectos {
  display: flex;
  flex-direction: column;
  background-color: var(--nav-bg-primary);
  margin-bottom: 0.5rem;
}

.proyectos h1 {
  margin-left: 2rem;
}

.aboutShadow {
  align-items: center;
  display: flex;
  background-color: var(--nav-bg-primary);
  box-shadow: 0 0 0.2rem 0.2rem var(--secondary-shadow);
}

.logoAbout {
  padding: 0.5rem;
}

.logoAbout > img {
  height: 6rem;
}

.textAbout {
  padding: 1rem;
  height: fit-content;
  width: fit-content;
  color: var(--secondary-color);
  font-size: 1rem;
}

.logo {
  height: 4rem;
  padding: 0 0.5rem;
}

.logo > svg {
  height: 5rem;
  transform: translateY(0.5rem);
}

.nav_menu_container {
  display: flex;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
  align-items: center;
  justify-content: space-between;
  padding-right: 1.5rem;
  border-bottom: 0.6rem solid var(--primary-shadow);
  border-bottom-style: double;
}

.menu-hamburguesa {
  font-size: 2rem;
  border: 0;
  cursor: pointer;
  background-color: transparent;
  display: none;
}

.menu-hamburguesa > svg {
  height: 3rem;
  width: 3rem;
  fill: var(--primary-color);
}

.mobile-noShow {
  display: none;
}

.mobile-show {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 4.5rem;
  right: 0.5rem;
  list-style-type: none;
  display: flex;
  gap: 0.5rem;
  text-align: center;
  z-index: 2;
  background-color: var(--nav-bg-primary);
  padding: 1rem;
}

.mobile-show > li {
  padding: 0.25rem 0.5rem;
  border-bottom: 0.0625rem solid var(--primary-shadow);
}

@media (min-width: 800px) and(max-width: 1024px) {
  nav {
    display: flex;
    padding: 1.5rem 1rem;
  }

  .menu {
    position: fixed;
    flex-direction: column;
    top: 85px;
    left: 10%;
    width: 80%;
    text-align: center;
    transform: translateX(120%);
    transition: transform 0.5s ease-in;
  }

  .nav-link {
    margin: 8px;
  }
}

@media (max-width: 800px) {
  .logo {
    display: none;
  }
  .nav_menu_container {
    padding-left: 1.5rem;
  }
  .menu {
    display: none;
  }
  .menu-hamburguesa {
    display: flex;
  }
}

@media (min-width: 800px) {
  .mobile-show {
    display: none;
  }
}

@media (max-width: 500px) {
  .main_title > svg {
    height: 1.5rem;
    transform: translateY(0.3rem);
  }
  .main_title > span {
    font-size: 1.25rem;
  }
  .menu-hamburguesa > svg {
    height: 2.25rem;
    width: 2.25rem;
  }
}
